@using UniversityManagementSystem.Models

@{
    Layout = null;
    List<Department> departmentList = ViewBag.DepartmentList;
}


<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Unallocated Class Schedule</title>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Content/Menu/jquery.smartmenus.min.js"></script>
    <link href="~/Content/Menu/sm-blue.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function() {
            $('#main-menu')
                .smartmenus({
                    subMenusSubOffsetX: 2,
                    subMenusSubOffsetY: -8
                });
        });
    </script>
    <style>
        label.error, .field-validation-error {
            color: red;
            font-family: bookman old style;
            font-size: 15px;
            font-weight: bold;
        }

        .msgSuccess {
            color: green;
            font-family: bookman old style;
            font-size: 15px;
            font-weight: bold;
        }

        .filterable {
            margin-top: 15px;
        }

            .filterable .panel-heading .pull-right {
                margin-top: -20px;
            }

            .filterable .panel-title {
                text-align: center;
                font-weight: bold;
            }

            .filterable .filters input[disabled] {
                background-color: transparent;
                border: none;
                cursor: auto;
                box-shadow: none;
                padding: 0;
                height: auto;
            }

                .filterable .filters input[disabled]::-webkit-input-placeholder {
                    color: #333;
                }

                .filterable .filters input[disabled]::-moz-placeholder {
                    color: #333;
                }

                .filterable .filters input[disabled]:-ms-input-placeholder {
                    color: #333;
                }
    </style>
</head>
<body>
    <nav class="navbar" id=" main-nav" role="navigation">
            <ul id="main-menu" class="sm sm-blue">
                <li><a>University Management System</a></li>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li>
                    <a href="@Url.Action("DepartmentEntry","Department")">Departments</a>
                    <ul>
                        <li><a href="@Url.Action("DepartmentEntry","Department")">Department Entry</a></li>
                        <li><a href="@Url.Action("ViewDepartments","Department")">View Departments</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("CourseEntry","Course")">Courses</a>
                    <ul>
                        <li><a href="@Url.Action("CourseEntry","Course")">Course Entry</a></li>
                        <li><a href="@Url.Action("CourseStatics","Course")">View Course Status</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("TeacherEntry","Teacher")">Teachers</a>
                    <ul>
                        <li><a href="@Url.Action("TeacherEntry","Teacher")">Teacher Entry</a></li>
                        <li><a href="@Url.Action("AssignCourse","Teacher")">Assign Course</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("StudentEntry","Student")">Students</a>
                    <ul>
                        <li><a href="@Url.Action("StudentEntry","Student")">Student Entry</a></li>
                        <li><a href="@Url.Action("EnrollCourse","Student")">Enroll Course</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("AllocateClassroom","Classroom")">Classrooms</a>
                    <ul>
                        <li><a href="@Url.Action("AllocateClassroom","Classroom")">Allocate Classroom</a></li>
                        <li><a href="@Url.Action("ClassroomSchedule","Classroom")">Classroom Schedule</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("StudentResultEntry","Result")">Result</a>
                    <ul>
                        <li><a href="@Url.Action("StudentResultEntry","Result")">Student Result Entry</a></li>
                        <li><a href="@Url.Action("ViewStudentResult","Result")">View Student Result</a></li>
                    </ul>
                </li>
                <li>
                    <a href ="">Reset All</a>
                    <ul>
                        <li><a href="@Url.Action("ResetCourses","Reset")">Unassign All Courses</a></li>
                        <li><a href="@Url.Action("ResetClassrooms","Reset")">Unallocate All Classrooms</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Archive</a>
                    <ul>
                        <li><a href="@Url.Action("UnassignedCourses","Archive")">Unassigned Courses</a></li>
                        <li><a href="@Url.Action("UnallocatedClassSchedule","Archive")">Unallocated Class Schedule</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    <div class="container">
        <fieldset class="form-group">
            <legend>Unallocated Class Schedule Information</legend>
            <div class="form-group row">
                <label for="DepartmentId" class="col-sm-2 form-control-label">Department</label>
                <div class="col-sm-5">
                    <select class="form-control" id="DepartmentId" name="DepartmentId">
                        <option selected="selected">Select Department</option>
                        @foreach (var department in departmentList)
                        {
                            <option value="@department.DepartmentId">@department.DepartmentCode</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary filterable">
                    <div class="panel-heading">
                        <h3 class="panel-title">Unallocated Class Schedule Information</h3>
                        <div class="pull-right">
                            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-eye-open"></span> Search Archived Class Schedule</button>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="filters">
                                <th><input type="text" class="form-control" placeholder="Course Code" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Was Schedule" disabled></th>
                            </tr>
                        </thead>
                        <tbody id="classroomScheduleTableColumn"></tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="footer container" style="text-align: center; margin-top: 15px">
            <p>Copyright &copy; 2016 Code Craker's. All rights reserved.</p>
        </div>
    </nav>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
        $("#DepartmentId").change(function () {
            var deptId = $("#DepartmentId").val();
            var json = { departmentId: deptId };
            $("#classroomScheduleTableColumn").empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetArchivedClassroomScheduleByDepartmentId", "Archive")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    var table;
                    if (data === "") table = '<tr><td>No Archived Classroom Schedule Found For This Department.</td></tr>';
                    else {
                        $.each(data, function (key, value) {
                            table += '<tr><td>' + value.ClassScheduleCourseCode + '</td><td>' + value.ClassScheduleCourseName + '</td><td>' + value.ClassScheduleInfo + '</td></tr>';
                        });
                    }
                    $("#classroomScheduleTableColumn").html(table);
                }
            });
        });
            $('.filterable .btn-filter').click(function () {
                var $panel = $(this).parents('.filterable'),
                $filters = $panel.find('.filters input'),
                $tbody = $panel.find('.table tbody');
                if ($filters.prop('disabled') == true) {
                    $filters.prop('disabled', false);
                    $filters.first().focus();
                } else {
                    $filters.val('').prop('disabled', true);
                    $tbody.find('.no-result').remove();
                    $tbody.find('tr').show();
                }
            });

            $('.filterable .filters input').keyup(function (e) {
                /* Ignore tab key */
                var code = e.keyCode || e.which;
                if (code == '9') return;
                /* Useful DOM data and selectors */
                var $input = $(this),
                inputContent = $input.val().toLowerCase(),
                $panel = $input.parents('.filterable'),
                column = $panel.find('.filters th').index($input.parents('th')),
                $table = $panel.find('.table'),
                $rows = $table.find('tbody tr');
                /* Dirtiest filter function ever ;) */
                var $filteredRows = $rows.filter(function () {
                    var value = $(this).find('td').eq(column).text().toLowerCase();
                    return value.indexOf(inputContent) === -1;
                });
                /* Clean previous no-result if exist */
                $table.find('tbody .no-result').remove();
                /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
                $rows.show();
                $filteredRows.hide();
                /* Prepend no-result row if all rows are filtered */
                if ($filteredRows.length === $rows.length) {
                    $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="' + $table.find('.filters th').length + '">No Class Schedule Found In Archive</td></tr>'));
                }
            });
     });
    </script>

</body>
</html>
