@using UniversityManagementSystem.Models
@model Course
@{
    Layout = null;
    List<Department> departmentList = ViewBag.DepartmentList;
    List<Semester> semesterList = ViewBag.SemesterList;
}


<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Course Entry</title>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Content/Menu/jquery.smartmenus.min.js"></script>
    <link href="~/Content/Menu/sm-blue.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript">
            $(function() {
                $('#main-menu')
                    .smartmenus({
                        subMenusSubOffsetX: 2,
                        subMenusSubOffsetY: -8
                    });
            });
    </script>
    <style>
        label.error,.field-validation-error {
            color: red;
            font-family: bookman old style;
            font-size: 15px;
            font-weight: bold;
        }

        .msgSuccess {
            color: green;
            font-family: bookman old style;
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav class="navbar" id=" main-nav" role="navigation">
            <ul id="main-menu" class="sm sm-blue">
                <li><a>University Management System</a></li>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li>
                    <a href="@Url.Action("DepartmentEntry","Department")">Departments</a>
                    <ul>
                        <li><a href="@Url.Action("DepartmentEntry","Department")">Department Entry</a></li>
                        <li><a href="@Url.Action("ViewDepartments","Department")">View Departments</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("CourseEntry","Course")">Courses</a>
                    <ul>
                        <li><a href="@Url.Action("CourseEntry","Course")">Course Entry</a></li>
                        <li><a href="@Url.Action("CourseStatics","Course")">View Course Status</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("TeacherEntry","Teacher")">Teachers</a>
                    <ul>
                        <li><a href="@Url.Action("TeacherEntry","Teacher")">Teacher Entry</a></li>
                        <li><a href="@Url.Action("AssignCourse","Teacher")">Assign Course</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("StudentEntry","Student")">Students</a>
                    <ul>
                        <li><a href="@Url.Action("StudentEntry","Student")">Student Entry</a></li>
                        <li><a href="@Url.Action("EnrollCourse","Student")">Enroll Course</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("AllocateClassroom","Classroom")">Classrooms</a>
                    <ul>
                        <li><a href="@Url.Action("AllocateClassroom","Classroom")">Allocate Classroom</a></li>
                        <li><a href="@Url.Action("ClassroomSchedule","Classroom")">Classroom Schedule</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("StudentResultEntry","Result")">Result</a>
                    <ul>
                        <li><a href="@Url.Action("StudentResultEntry","Result")">Student Result Entry</a></li>
                        <li><a href="@Url.Action("ViewStudentResult","Result")">View Student Result</a></li>
                    </ul>
                </li>
                <li>
                    <a href ="">Reset All</a>
                    <ul>
                        <li><a href="@Url.Action("ResetCourses","Reset")">Unassign All Courses</a></li>
                        <li><a href="@Url.Action("ResetClassrooms","Reset")">Unallocate All Classrooms</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Archive</a>
                    <ul>
                        <li><a href="@Url.Action("UnassignedCourses","Archive")">Unassigned Courses</a></li>
                        <li><a href="@Url.Action("UnallocatedClassSchedule","Archive")">Unallocated Class Schedule</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    <div class="container">
        <fieldset class="form-group">
            <legend>Save Course</legend>
            @using (Html.BeginForm(null, null, FormMethod.Post, new {@id = "saveCourseForm"}))
            {
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label"></label>
                    <div class="col-sm-5">
                        @if (ViewBag.Message != null)
                        {
                            <div class="msgSuccess">
                                @ViewBag.Message
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label for="CourseCode" class="col-sm-2 form-control-label">Course Code</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="CourseCode" name="CourseCode" placeholder="Course Code">
                        @Html.ValidationMessageFor(model => model.CourseCode)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="CourseName" class="col-sm-2 form-control-label">Course Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="CourseName" name="CourseName" placeholder="Course Name">
                        @Html.ValidationMessageFor(model => model.CourseName)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="CourseCredit" class="col-sm-2 form-control-label">Course Credit</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="CourseCredit" name="CourseCredit" placeholder="Course Credit">
                        @Html.ValidationMessageFor(model => model.CourseCredit)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="CourseDescription" class="col-sm-2 form-control-label">Course Description</label>
                    <div class="col-sm-5">
                        <textarea type="text" class="form-control" id="CourseDescription" name="CourseDescription" placeholder="Course Description" rows="2"></textarea>
                        @Html.ValidationMessageFor(model => model.CourseDescription)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="CourseDepartmentId" class="col-sm-2 form-control-label">Department</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="CourseDepartmentId" name="CourseDepartmentId">
                            <option selected="selected">Select Department</option>
                            @foreach (var department in departmentList)
                            {
                                <option value="@department.DepartmentId">@department.DepartmentCode</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.CourseDepartmentId)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="CourseSemesterId" class="col-sm-2 form-control-label">Semester</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="CourseSemesterId" name="CourseSemesterId">
                            <option selected="selected">Select Semester</option>
                            @foreach (var semester in semesterList)
                            {
                                <option value="@semester.SemesterId">@semester.SemesterName</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.CourseSemesterId)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="saveCourseButton" class="col-sm-2 form-control-label"></label>
                    <div class="col-sm-5">
                        <button type="submit" style="width: 100%" id="saveCourseButton" class="btn btn-success">Save Course</button>
                    </div>
                </div>
            }
        </fieldset>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="footer container" style="text-align: center; margin-top: 15px">
            <p>Copyright &copy; 2016 Code Craker's. All rights reserved.</p>
        </div>
    </nav>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $('.msgSuccess').delay(3000).fadeOut(1000);
            $.validator.addMethod('selectDepartment',
              function (value, element) {
                  return this.optional(element) || (value.indexOf("Select Department") === -1);
              }, "Please Select Department");
            $.validator.addMethod('selectSemester',
              function (value, element) {
                  return this.optional(element) || (value.indexOf("Select Semester") === -1);
              }, "Please Select Semester");
            $.validator.addMethod("checkCourseCode", function () {
                var url = '@Url.Action("IsCourseCodeExists", "Course")';
                var code = $('#CourseCode').val();
                var result = false;
                $.ajax({
                    type:"POST",
                    async: false,
                    url: url,
                    data: { courseCode: code },
                    success: function (data) {
                        result = (data === true) ? true : false;
                    }
                });
                return result;
                },"This Course Code Is Already Taken! Try Another."
            );
            $.validator.addMethod("checkCourseName", function () {
                var url = '@Url.Action("IsCourseNameExists", "Course")';
                var name = $('#CourseName').val();
                var result = false;
                $.ajax({
                    type:"POST",
                    async: false,
                    url: url,
                    data: { courseName: name },
                    success: function (data) {
                        result = (data === true) ? true : false;
                    }
                });
                return result;
                },"This Course Name Is Already Taken! Try Another."
            );
            $("#saveCourseForm").validate({
                rules: {
                    CourseCode: {
                        required: true,
                        minlength: 5,
                        checkCourseCode: true
                    },
                    CourseName: {
                        required: true,
                        minlength: 5,
                        checkCourseName: true
                    },
                    CourseCredit: {
                        required: true,
                        number: true,
                        min: 0.5,
                        max:5.0
                    },
                    CourseDescription: {
                        required: true,
                        minlength: 5
                    },
                    CourseDepartmentId: {
                        selectDepartment:true
                    },
                    CourseSemesterId: {
                        selectSemester:true
                    }
                },
                messages: {
                    CourseCode: {
                        required: "Please Provide Course Code",
                        minlength: "Code Must Be Minimum 5 Charecter Long"
                    },
                    CourseName: {
                        required: "Please Provide Course Name",
                        minlength: "Name Must Be Minimum 5 Charecter Long"
                    },
                    CourseCredit: {
                        required: "Please Provide Course Credit",
                        number: "Invalid Format. Allow Numbers Only!",
                        min: "Course Credit Should Not Be Less Than 0.5",
                        max: "Course Credit Should Be Less Than 5.0"
                    },
                    CourseDescription: {
                        required: "Please Provide Course Details",
                        minlength: "Please Provide More Details"
                    },
                    CourseDepartmentId: {
                        selectDepartment: "Please Select Department"
                    },
                    CourseSemesterId: {
                        selectSemester: "Please Select Semester"
                    }
                }
            });
        });
    </script>

</body>
</html>
