
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Allocate Classroom</title>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Content/Menu/jquery.smartmenus.min.js"></script>
    <link href="~/Content/Menu/sm-blue.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/TimePicker/jquery.timepicker.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            $('#main-menu')
                .smartmenus({
                    subMenusSubOffsetX: 2,
                    subMenusSubOffsetY: -8
                });
        });
    </script>
    <style>
        label.error, .field-validation-error,.msgErr {
            color: red;
            font-family: bookman old style;
            font-size: 15px;
            font-weight: bold;
        }

        .msgSuccess {
            color: green;
            font-family: bookman old style;
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav class="navbar" id=" main-nav" role="navigation">
        <ul id="main-menu" class="sm sm-blue">
            <li><a>University Management System</a></li>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li>
                <a href="@Url.Action("DepartmentEntry","Department")">Departments</a>
                <ul>
                    <li><a href="@Url.Action("DepartmentEntry","Department")">Department Entry</a></li>
                    <li><a href="@Url.Action("ViewDepartments","Department")">View Departments</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("CourseEntry","Course")">Courses</a>
                <ul>
                    <li><a href="@Url.Action("CourseEntry","Course")">Course Entry</a></li>
                    <li><a href="@Url.Action("CourseStatics","Course")">View Course Status</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("TeacherEntry","Teacher")">Teachers</a>
                <ul>
                    <li><a href="@Url.Action("TeacherEntry","Teacher")">Teacher Entry</a></li>
                    <li><a href="@Url.Action("AssignCourse","Teacher")">Assign Course</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("StudentEntry","Student")">Students</a>
                <ul>
                    <li><a href="@Url.Action("StudentEntry","Student")">Student Entry</a></li>
                    <li><a href="@Url.Action("EnrollCourse","Student")">Enroll Course</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("AllocateClassroom","Classroom")">Classrooms</a>
                <ul>
                    <li><a href="@Url.Action("AllocateClassroom","Classroom")">Allocate Classroom</a></li>
                    <li><a href="@Url.Action("ClassroomSchedule","Classroom")">Classroom Schedule</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("StudentResultEntry","Result")">Result</a>
                <ul>
                    <li><a href="@Url.Action("StudentResultEntry","Result")">Student Result Entry</a></li>
                    <li><a href="@Url.Action("ViewStudentResult","Result")">View Student Result</a></li>
                </ul>
            </li>
            <li>
                <a href="">Reset All</a>
                <ul>
                    <li><a href="@Url.Action("ResetCourses","Reset")">Unassign All Courses</a></li>
                    <li><a href="@Url.Action("ResetClassrooms","Reset")">Unallocate All Classrooms</a></li>
                </ul>
            </li>
            <li>
                <a href="">Archive</a>
                <ul>
                    <li><a href="@Url.Action("UnassignedCourses","Archive")">Unassigned Courses</a></li>
                    <li><a href="@Url.Action("UnallocatedClassSchedule","Archive")">Unallocated Class Schedule</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container">
        <fieldset>
            <legend>Allocate Classroom</legend>
            <form id="allocateClassroomForm" method="POST">
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label"></label>
                    <div class="col-sm-5">
                        @if (ViewBag.Message != null && ViewBag.Message == "Classroom For This Course Allocated Successfully")
                        {
                            <div class="msgSuccess">
                                @ViewBag.Message
                            </div>
                        }
                        else
                        {
                            <div class="msgErr">
                                @ViewBag.Message
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label for="AllocateClassroomDepartmentId" class="col-sm-2 form-control-label">Department</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="AllocateClassroomDepartmentId" name="AllocateClassroomDepartmentId">
                            <option value="">Select Department</option>
                            @foreach (var department in ViewBag.Departments)
                            {
                                <option value="@department.DepartmentId">@department.DepartmentCode</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="AllocateClassroomCourseId" class="col-sm-2 form-control-label">Course</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="AllocateClassroomCourseId" name="AllocateClassroomCourseId"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="AllocateClassroomRoomId" class="col-sm-2 form-control-label">Room No.</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="AllocateClassroomRoomId" name="AllocateClassroomRoomId">
                            <option value="">Select Class Room</option>
                            @foreach (var room in ViewBag.Rooms)
                            {
                                <option value="@room.RoomId">@room.RoomName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="AllocateClassroomDayId" class="col-sm-2 form-control-label">Day</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="AllocateClassroomDayId" name="AllocateClassroomDayId">
                            <option value="">Select Day</option>
                            @foreach (var day in ViewBag.Days)
                            {
                                <option value="@day.DayId">@day.DayName</option>
                            }
                        </select>
                    </div>
                </div>
                <div id="datepair">
                    <div class="form-group row">
                        <label for="AllocateClassroomFrom" class="col-sm-2 form-control-label ">From</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control time start" id="AllocateClassroomFrom" name="AllocateClassroomFrom">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="AllocateClassroomTo" class="col-sm-2 form-control-label ">To</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control time end" id="AllocateClassroomTo" name="AllocateClassroomTo">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="submit" style="width: 100%" class="btn btn-success">Allocate Classroom</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="footer container" style="text-align: center; margin-top: 15px">
            <p>Copyright &copy; 2016 Code Craker's. All rights reserved.</p>
        </div>
    </nav>
    <script src="~/Content/TimePicker/jquery.timepicker.js"></script>
    <script src="http://jonthornton.github.io/Datepair.js/dist/datepair.js"></script>
    <script src="http://jonthornton.github.io/Datepair.js/dist/jquery.datepair.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document)
            .ready(function () {
                $('.msgSuccess').delay(5000).fadeOut(1000);
                $('.msgErr').delay(5000).fadeOut(1000);
                $("#AllocateClassroomDepartmentId")
                    .change(function () {
                        var deptId = $("#AllocateClassroomDepartmentId").val();
                        $("#AllocateClassroomCourseId").empty();
                        var json = { departmentId: deptId };
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetCoursesByDepartmentId", "Classroom")',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(json),
                            success: function (data) {
                                var courses = "<option value=''>Select Course</option>";
                                $.each(data,
                                    function (key, value) {
                                        courses += '<option value=' + value.CourseId + '>' + value.CourseCode + '</option>';
                                    });
                                $("#AllocateClassroomCourseId").html(courses);
                            }
                        });
                    });
                $('#datepair .time')
                    .timepicker({
                        //'minTime': '7:00am',
                        //'maxTime': '10:00pm',
                        'showDuration': true,
                        'timeFormat': 'g:iA'
                    });
                $('#datepair').datepair();
                @*$.validator.addMethod("courseAssigned", function () {
            var url = '@Url.Action("IsCourseAssign", "Teacher")';
            var info = {
                form: $('#AllocateClassroomFrom').val(),
                to : $('#AllocateClassroomTo').val(),
                roomId : $('#AllocateClassroomRoomId').val(),
                dayId : $('#AllocateClassroomDayId').val()
            };
            var result = false;
            $.ajax({
                type: "POST",
                async: false,
                url: url,
                data:{allocateInfo:info},
                success: function (data) {
                    result = (data === true) ? true : false;
                }
            });
            return result;
            }, "This Room Already Allocated! Try Another."
        );*@
                $("#allocateClassroomForm")
                    .validate({
                        rules: {
                            AllocateClassroomDepartmentId: {
                                required: true
                            },
                            AllocateClassroomCourseId: {
                                required: true,
                            },
                            AllocateClassroomRoomId: {
                                required: true
                            },
                            AllocateClassroomDayId: {
                                required: true
                            },
                            AllocateClassroomFrom: {
                                required: true
                            },
                            AllocateClassroomTo: {
                                required: true
                            }
                        },
                        messages: {
                            AllocateClassroomDepartmentId: {
                                required: "Please Select Department From List"
                            },
                            AllocateClassroomCourseId: {
                                required: "Please Select Course From List"
                            },
                            AllocateClassroomRoomId: {
                                required: "Please Select Classroom From List"
                            },
                            AllocateClassroomDayId: {
                                required: "Please Select Day From List"
                            },
                            AllocateClassroomFrom: {
                                required: "Please Provide Class Start Time"
                            },
                            AllocateClassroomTo: {
                                required: "Please Provide Class End Time"
                            }
                        }
                    });
            });
    </script>
</body>
</html>
