@using UniversityManagementSystem.Models
@{
    Layout = null;
    List<Student> studentList = ViewBag.StudentsList;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Enroll Course</title>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/Menu/jquery.smartmenus.min.js"></script>
    <link href="~/Content/Menu/sm-blue.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/DatePicker/datedropper.css" rel="stylesheet" />
    <script src="~/Content/DatePicker/datedropper.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#main-menu')
                .smartmenus({
                    subMenusSubOffsetX: 2,
                    subMenusSubOffsetY: -8
                });
        });
    </script>
    <style>
        label.error, .field-validation-error {
            color: red;
            font-family: bookman old style;
            font-size: 14px;
            font-weight: bold;
        }

        .msgSuccess, .msgScss {
            color: green;
            font-family: bookman old style;
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <nav class="navbar" id=" main-nav" role="navigation">
            <ul id="main-menu" class="sm sm-blue">
                <li><a>University Management System</a></li>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li>
                    <a href="@Url.Action("DepartmentEntry","Department")">Departments</a>
                    <ul>
                        <li><a href="@Url.Action("DepartmentEntry","Department")">Department Entry</a></li>
                        <li><a href="@Url.Action("ViewDepartments","Department")">View Departments</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("CourseEntry","Course")">Courses</a>
                    <ul>
                        <li><a href="@Url.Action("CourseEntry","Course")">Course Entry</a></li>
                        <li><a href="@Url.Action("CourseStatics","Course")">View Course Status</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("TeacherEntry","Teacher")">Teachers</a>
                    <ul>
                        <li><a href="@Url.Action("TeacherEntry","Teacher")">Teacher Entry</a></li>
                        <li><a href="@Url.Action("AssignCourse","Teacher")">Assign Course</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("StudentEntry","Student")">Students</a>
                    <ul>
                        <li><a href="@Url.Action("StudentEntry","Student")">Student Entry</a></li>
                        <li><a href="@Url.Action("EnrollCourse","Student")">Enroll Course</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("AllocateClassroom","Classroom")">Classrooms</a>
                    <ul>
                        <li><a href="@Url.Action("AllocateClassroom","Classroom")">Allocate Classroom</a></li>
                        <li><a href="@Url.Action("ClassroomSchedule","Classroom")">Classroom Schedule</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("StudentResultEntry","Result")">Result</a>
                    <ul>
                        <li><a href="@Url.Action("StudentResultEntry","Result")">Student Result Entry</a></li>
                        <li><a href="@Url.Action("ViewStudentResult","Result")">View Student Result</a></li>
                    </ul>
                </li>
                <li>
                    <a href ="">Reset All</a>
                    <ul>
                        <li><a href="@Url.Action("ResetCourses","Reset")">Unassign All Courses</a></li>
                        <li><a href="@Url.Action("ResetClassrooms","Reset")">Unallocate All Classrooms</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Archive</a>
                    <ul>
                        <li><a href="@Url.Action("UnassignedCourses","Archive")">Unassigned Courses</a></li>
                        <li><a href="@Url.Action("UnallocatedClassSchedule","Archive")">Unallocated Class Schedule</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    <div class="container">
        <fieldset class="form-group">
            <legend>Enroll Course</legend>
            <form id="enrollCourseForm" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label"></label>
                    <div class="col-sm-5">
                        @if (ViewBag.Message != null)
                        {
                            <div class="msgSuccess">
                                @ViewBag.Message
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label for="EnrollCourseStudentId" class="col-sm-2 form-control-label">Student's Reg. No</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="EnrollCourseStudentId" name="EnrollCourseStudentId">
                            <option selected="selected" value="">Select Student</option>
                            @foreach (var student in studentList)
                            {
                                <option value="@student.StudentId">@student.StudentRegistrationNo</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="EnrollCourseStudentName" class="col-sm-2 form-control-label">Student's Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="EnrollCourseStudentName" name="EnrollCourseStudentName" placeholder="Student's Name" readonly="readonly">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="EnrollCourseStudentEmail" class="col-sm-2 form-control-label">Student's Email</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="EnrollCourseStudentEmail" name="EnrollCourseStudentEmail" placeholder="Student's Email" readonly="readonly">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="EnrollCourseStudentDepartmentCode" class="col-sm-2 form-control-label">Student's Department</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="EnrollCourseStudentDepartmentCode" name="EnrollCourseStudentDepartmentCode" placeholder="Student's Department" readonly="readonly">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="EnrollCourseCourseId" class="col-sm-2 form-control-label">Select Course</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="EnrollCourseCourseId" name="EnrollCourseCourseId"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="EnrollCourseDate" class="col-sm-2 form-control-label">Enroll Date</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="EnrollCourseDate" name="EnrollCourseDate" placeholder="mm/dd/yyyy">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="enrollCourseButton" class="col-sm-2 form-control-label"></label>
                    <div class="col-sm-5">
                        <button type="submit" style="width: 100%" id="enrollCourseButton" class="btn btn-success">Enroll Course</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="footer container" style="text-align: center; margin-top: 15px">
            <p>Copyright &copy; 2016 Code Craker's. All rights reserved.</p>
        </div>
    </nav>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $("#EnrollCourseDate").dateDropper();
            $('.msgSuccess').delay(3000).fadeOut(1000);
            $("#EnrollCourseStudentId").change(function () {
                var studentId = $("#EnrollCourseStudentId").val();
                var json = { studentId: studentId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentDetails", "Student")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (student) {
                        $('#EnrollCourseStudentName').val(student.StudentName);
                        $("#EnrollCourseStudentEmail").val(student.StudentEmail);
                        $("#EnrollCourseStudentDepartmentCode").val(student.StudentDepartmentCode);
                        var departmentId = student.StudentDepartmentId;
                        json = { departmentId: departmentId };
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetCourseByDepartmentId", "Student")',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(json),
                            success: function (courseList) {
                                var courses = "<option value=''>Select Course</option>";
                                $.each(courseList, function (key, value) {
                                    courses += '<option value=' + value.CourseId + '>' + value.CourseName + '</option>';
                                });
                                $("#EnrollCourseCourseId").html(courses);
                            }
                        });
                    }
                });
            });
                $.validator.addMethod("courseEnrolled",
                    function () {
                        var url = '@Url.Action("IsCourseEnrolled", "Student")';
                        var studentId = $('#EnrollCourseStudentId').val();
                        var courseId = $('#EnrollCourseCourseId').val();
                        var result = false;
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: url,
                            data: { studentId:studentId,courseId: courseId },
                            success: function (data) {
                                result = (data === true) ? true : false;
                            }
                        });
                        return result;
                    },
                    "This Course Is Already Enrolled For This Student! Try Another."
                );
            $("#enrollCourseForm").validate({
                rules: {
                    EnrollCourseStudentId: {
                        required: true
                    },
                    EnrollCourseCourseId: {
                        required: true,
                        courseEnrolled: true
                    },
                    EnrollCourseDate: {
                        required: true
                    }
                },
                messages: {
                    EnrollCourseStudentId: {
                        required: "Please Select Student From List"
                    },
                    EnrollCourseCourseId: {
                        required: "Please Select Course From List"
                    },
                    EnrollCourseDate: {
                        required: "Please Provide Enroll Date"
                    }
                }
            });
        });
    </script>
</body>
</html>
